Repository mash-up-kr/piikii_Spring, pull requests merged in 2024-06, with the labels that each got.

#19 feat: 도메인 초기화
  .github/CODEOWNERS
  piikii-application/src/main/kotlin/com/piikii/application/domain/model/User.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/model/enums/Source.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/model/room/Room.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/model/sourceplace/SourcePlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/service/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/service/SourcePlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/events/Event.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/RoomUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/SourcePlaceUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/UserUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/eventbroker/UserConsumerPort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/eventbroker/UserProducerPort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/RoomPort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/SourcePlacePort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/UserPort.kt
  piikii-common/src/main/kotlin/com/piikii/common/exception/PiikiiException.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/SourcePlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/UserApi.kt
  piikii-output-eventbroker/kafka/src/main/kotlin/com/piikii/output/eventbroker/kafka/KafkaConfig.kt
  piikii-output-eventbroker/kafka/src/main/kotlin/com/piikii/output/eventbroker/kafka/user/UserKafkaConsumer.kt
  piikii-output-eventbroker/kafka/src/main/kotlin/com/piikii/output/eventbroker/kafka/user/UserKafkaProducer.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/room/RoomCommandAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/room/RoomQueryAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/sourceplace/SourcePlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/common/BaseEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/config/PostgreSQLConfig.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/config/PostgreSQLProperties.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomCategoryEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomCourseResultEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomUserEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomVoteEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/SourcePlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/consts/PersistenceConsts.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/embeded/ThumbnailLink.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomCategoryRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomCourseResultRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomPlaceRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomUserRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomVoteRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/SourcePlaceRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/user/UserEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/user/UserJpaRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/user/UserRepository.kt
  piikii-output-persistence/postgresql/src/main/resources/database-config/application-prod.yml
  piikii-output-persistence/postgresql/src/main/resources/ddl/V1.sql
Labels: feature

#26 style : CleanUp Code
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomcategory/RoomCategory.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomcourresult/RoomCourseResult.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomplace/RoomPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomuser/RoomUser.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomvote/RoomVote.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomVoteEntity.kt
  piikii-output-persistence/postgresql/src/main/resources/ddl/V1.sql
Labels: style, module-output-adapter, module-domain

#27 feat: 공통 예외, 응답을 추가합니다.
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-common/src/main/kotlin/com/piikii/common/exception/PiikiiException.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/TestController.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/advice/ExceptionAdvice.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/SourcePlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/exception/ExceptionResponse.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/generic/ResponseForm.kt
Labels: feature, module-input-adapter, module-common

#31 infrastructure: Spring Boot, Plugin 버전을 업그레이드합니다.
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Plugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  piikii-bootstrap/src/test/kotlin/com/piikii/bootstrap/PiikiiBootstrapApplicationTests.kt
Labels: feature, infrastructure, module-bootstrap

#32 feat: ktlint, editorconfig 셋팅
  .editorconfig
  build.gradle.kts
  buildSrc/src/main/kotlin/Plugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  gradle/wrapper/gradle-wrapper.properties
  piikii-application/build.gradle.kts
  piikii-application/src/main/kotlin/com/piikii/application/domain/generic/CategoryName.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/generic/Source.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/generic/ThumbnailLinks.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomcategory/RoomCategory.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomcourresult/RoomCourseResult.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomplace/RoomPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomuser/RoomUser.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomvote/RoomVote.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/sourceplace/SourcePlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/sourceplace/SourcePlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/SourcePlaceUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/RoomPort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/SourcePlacePort.kt
  piikii-bootstrap/build.gradle.kts
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-common/src/main/kotlin/com/piikii/common/exception/PiikiiException.kt
  piikii-common/src/main/kotlin/com/piikii/common/property/YamlPropertySourceFactory.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/TestController.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/advice/ExceptionAdvice.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/SourcePlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/exception/ExceptionResponse.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/generic/ResponseForm.kt
  piikii-output-cache/build.gradle.kts
  piikii-output-cache/redis/src/main/kotlin/com/piikii/output/redis/config/RedisConfig.kt
  piikii-output-eventbroker/build.gradle.kts
  piikii-output-eventbroker/kafka/src/main/kotlin/com/piikii/output/eventbroker/kafka/user/UserKafkaConsumer.kt
  piikii-output-eventbroker/kafka/src/main/kotlin/com/piikii/output/eventbroker/kafka/user/UserKafkaProducer.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/room/RoomAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/sourceplace/SourcePlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/common/BaseEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/config/PostgreSQLProperties.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomCategoryEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomCourseResultEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomUserEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomVoteEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/SourcePlaceEntity.kt
Labels: feature, module-bootstrap, module-input-adapter, module-output-adapter, module-domain, module-common

#33 fix: base 머지 안되었던 작업 챙기기
  build.gradle.kts
  piikii-input-http/build.gradle.kts
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/OpenApiConfiguration.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/SourcePlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/SourcePlaceApiDocs.kt
  piikii-input-http/src/main/resources/http-config/application.yml
Labels: feature, module-input-adapter

#37 fix: 도메인 디렉토리 변경된 것 반영
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/SourcePlaceApiDocs.kt
Labels: fix, module-input-adapter

#38 feat: Secret Manager 도입
  build.gradle.kts
  piikii-bootstrap/build.gradle.kts
  piikii-bootstrap/src/main/kotlin/com/piikii/bootstrap/secret/SecretProcessor.kt
  piikii-bootstrap/src/main/resources/META-INF/spring.factories
  piikii-bootstrap/src/main/resources/application-local.yml
  piikii-bootstrap/src/main/resources/application.yml
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-output-persistence/postgresql/src/main/resources/database-config/application-local.yml
  piikii-output-persistence/postgresql/src/main/resources/database-config/application-prod.yml
Labels: feature, module-bootstrap, module-output-adapter, module-common

#36 chore : CI/CD Draft Script를 추가하고, Actions foldering을 해제합니다.
  .github/pull_request_template.md
  .github/workflows/auto-assign-author.yml
  .github/workflows/auto-assign-label-labeler.yml
  .github/workflows/ci-develop.yml
  .github/workflows/cicd-main.yml
  .github/workflows/config/CODEOWNERS
  .github/workflows/config/auto-assign-label-config.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/Versions.kt
  piikii-bootstrap/build.gradle.kts
  piikii-input-http/build.gradle.kts
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/OpenApiConfiguration.kt
Labels: docs, feature, infrastructure, module-bootstrap, module-input-adapter, module-output-adapter

#41 style: lint적용 및 PR 체크리스트 추가
  .github/pull_request_template.md
  piikii-bootstrap/src/main/kotlin/com/piikii/bootstrap/secret/SecretProcessor.kt
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
Labels: docs, style, module-bootstrap, module-input-adapter, module-common

#43 chore : Move Package CODEOWNERS
  .github/CODEOWNERS
Labels: chore

#42 chore: CI/CD enhancement
  .github/workflows/ci-develop.yml
  .github/workflows/cicd-release.yml
Labels: chore

#45 fix: push/pull-request CI 분리
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-push.yml
Labels: chore

#35 feat : 방 만들기 CRUD 기능 초기 구현
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/Room.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/RoomUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/RoomUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/RoomSaveRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/RoomUpdateRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/response/RoomGetResponseForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/response/RoomSaveResponseForm.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/RoomApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/generic/ResponseForm.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/message/RoomMessage.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/room/RoomAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomEntity.kt
  piikii-output-persistence/postgresql/src/main/resources/ddl/V1.sql
Labels: feature, module-input-adapter, module-output-adapter, module-domain

#50 chore: PR CI when only specific comment
  .github/workflows/ci-pull-request.yml
Labels: chore

#51 chore: ci trigger comment update
  .github/workflows/ci-pull-request.yml
Labels: module-bootstrap, chore

#52 chore: CI/CD 임시 스크립트 추가
  .github/workflows/cicd-release.yml
  build.gradle.kts
  docker/docker-compose.yml
  gradle/wrapper/gradle-wrapper.properties
  piikii-bootstrap/build.gradle.kts
  piikii-bootstrap/gradle/wrapper/gradle-wrapper.properties
  piikii-output-persistence/postgresql/src/main/resources/ddl/V1.sql
  script/deploy.sh
Labels: module-bootstrap, module-output-adapter, chore

#48 feat: 예외 로깅 인터셉터 추가
  build.gradle.kts
  piikii-bootstrap/src/main/resources/application-prod.yml
  piikii-bootstrap/src/main/resources/application.yml
  piikii-bootstrap/src/main/resources/logback-spring.xml
  piikii-common/build.gradle.kts
  piikii-common/src/main/kotlin/com/piikii/common/logutil/HookLogger.kt
  piikii-common/src/main/kotlin/com/piikii/common/logutil/SystemLogger.kt
  piikii-common/src/main/kotlin/com/piikii/common/logutil/client/HookLoggerConfig.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/advice/ExceptionAdvice.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/AsyncConfig.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/WebMvcConfig.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/filter/ServletWrappingFilter.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/interceptor/LoggingInterceptor.kt
  piikii-input-http/src/main/resources/http-config/application.yml
Labels: feature, module-bootstrap, module-input-adapter, module-common

#53 chore: Gradle Catalog를 활용하여 의존성, 플러그인을 관리할 수 있도록 개선합니다.
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Plugins.kt
  buildSrc/src/main/kotlin/Versions.kt
  gradle/libs.versions.toml
  piikii-common/src/main/kotlin/com/piikii/common/logutil/SlackHookLogger.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/interceptor/LoggingInterceptor.kt
  settings.gradle.kts
Labels: module-input-adapter, module-common, chore

#54 chore: 빌드 시 캐싱된 Gradle 의존성을 사용하여 빌드 시간을 단축하도록 합니다.
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-push.yml
  .github/workflows/cicd-release.yml
  build.gradle.kts
  gradle.properties
  settings.gradle.kts
Labels: chore

#49 feat: 투표 수정/생성/마감 구현
  piikii-application/build.gradle.kts
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/Room.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomvote/RoomVoteService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/RoomUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/RoomSaveRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/RoomUpdateRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/VoteGenerateRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/response/RoomGetResponseForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/response/RoomSaveResponseForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/RoomPort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/RoomApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/message/RoomMessage.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/room/RoomAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomRepository.kt
  piikii-output-persistence/postgresql/src/main/resources/ddl/V1.sql
Labels: feature, module-input-adapter, module-output-adapter, module-domain

#58 feat: 방 썸네일은 하나만 갖도록 수정
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/Room.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/RoomUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/RoomSaveRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/RoomUpdateRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/VoteDeadlineSetRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/response/RoomGetResponseForm.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/advice/ExceptionAdvice.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/RoomApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/generic/ResponseForm.kt
  piikii-input-http/src/main/resources/http-config/application.yml
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomEntity.kt
  piikii-output-persistence/postgresql/src/main/resources/ddl/V1.sql
Labels: feature, module-input-adapter, module-output-adapter, module-domain

#61 fix: replace `PathVariable` to `Parameter` at docs
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/RoomApiDocs.kt
Labels: fix, module-input-adapter

#62 feat: 방 카테고리 CRUD 기능 구현
  piikii-application/src/main/kotlin/com/piikii/application/domain/generic/CategoryName.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomcategory/PlaceCategory.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomcategory/RoomCategory.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomcategory/RoomCategoryService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/roomcategory/RoomCategoryUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/roomcategory/dto/request/RoomCategoriesCreateRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/roomcategory/dto/request/RoomCategoryIdsRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/roomcategory/dto/response/RoomCategoriesReadResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/RoomCategoryPort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomCategoryApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/RoomCategoryApiDocs.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/roomcategory/RoomCategoryAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomCategoryEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomCategoryRepository.kt
Labels: feature, module-input-adapter, module-output-adapter, module-domain

#65 refactor: Vote 마감일 지정 함수 Vote API로 이동
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/RoomUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/VoteDeadlineSetRequest.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/RoomApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/VoteApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/dto/request/VoteRequest.kt
Labels: refactor, module-input-adapter, module-domain

#74 fix: Import 및 Actions 수정
  .github/workflows/ci-pull-request.yml
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomCategoryApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/RoomCategoryApiDocs.kt
Labels: fix, module-input-adapter

#70 feat: Vote 마감 상태 조회 API 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/Room.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/vote/VoteService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/vote/VoteUseCase.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/VoteApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/dto/response/VoteStatusResponse.kt
Labels: feature, module-input-adapter, module-domain

#69 feat: 방 장소 추가/조회/수정/삭제 API 추가
  piikii-application/build.gradle.kts
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomplace/RoomPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/roomplace/RoomPlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/roomplace/RoomPlaceUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/roomplace/dto/RoomPlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/roomplace/dto/RoomPlaceResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/RoomPlacePort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomPlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/docs/RoomPlaceDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/dto/ResponseForm.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/dto/RoomMessage.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/roomplace/RoomPlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomPlaceRepository.kt
Labels: feature, module-input-adapter, module-output-adapter, module-domain

#73 feat: Vote 마감일 설정 시, 패스워드 검증로직 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/Room.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/RoomUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/RoomSaveRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/RoomUpdateRequestForm.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/room/dto/request/VoteDeadlineSetRequest.kt
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/advice/ExceptionAdvice.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/dto/response/ExceptionResponse.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/RoomEntity.kt
Labels: feature, module-input-adapter, module-output-adapter, module-domain, module-common
