Repository mash-up-kr/piikii_Spring, pull requests merged in 2024-08, with the labels that each got.

#121 chore: ci logging level
  .github/workflows/ci-pull-request.yml
Labels: chore

#115 feature: 길찾기 Client 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/Coordinate.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/Distance.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/web/NavigationClient.kt
  piikii-bootstrap/build.gradle.kts
  piikii-bootstrap/src/main/resources/application.yml
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-output-web/tmap/src/main/kotlin/com/piikii/output/web/tmap/adapter/TmapNavigationClient.kt
  piikii-output-web/tmap/src/main/kotlin/com/piikii/output/web/tmap/adapter/TmapRouteInfoRequest.kt
  piikii-output-web/tmap/src/main/kotlin/com/piikii/output/web/tmap/adapter/TmapRouteInfoResponse.kt
  piikii-output-web/tmap/src/main/kotlin/com/piikii/output/web/tmap/config/TmapConfig.kt
  piikii-output-web/tmap/src/main/resources/tmap-config/application.yml
  piikii-output-web/tmap/src/test/kotlin/com/piikii/output/web/tmap/TestConfiguration.kt
  piikii-output-web/tmap/src/test/kotlin/com/piikii/output/web/tmap/TmapNavigationClientTest.kt
  piikii-output-web/tmap/src/test/resources/application-test.yml
  settings.gradle.kts
Labels: feature, module-bootstrap, module-domain, module-common, module-output-web

#122 fix: Resolve Build Issue
  piikii-bootstrap/src/test/resources/application.yml
Labels: fix, module-bootstrap

#123 chore: JVM Option 아주 살짝 튜닝
  piikii-bootstrap/build.gradle.kts
Labels: module-bootstrap, chore

#124 docs: 스웨거 정리
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/ScheduleRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/VoteRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceAutoCompleteResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/ScheduleResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/VoteResponse.kt
Labels: module-domain

#126 Metric 모니터링을 위한 Actuator 설정
  piikii-bootstrap/build.gradle.kts
  piikii-bootstrap/src/main/resources/application-actuator.yml
  piikii-bootstrap/src/main/resources/application.yml
Labels: feature, module-bootstrap

#130 add: DDL 추가
  piikii-output-persistence/postgresql/src/main/resources/ddl/DDL.sql
Labels: module-output-storage-services

#125 feature: Course 조회 api
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/CoursePlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/CourseService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/PlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/Room.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/schedule/ScheduleService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/vote/VoteService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/CourseUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/CourseResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/SchedulePort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/VotePort.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/course/CourseServiceTest.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/CourseApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/CourseApiDocs.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/ScheduleAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/VoteAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/OriginPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
Labels: feature, module-input-adapter, module-domain, module-output-web, module-output-storage-services

#129 chore: Gradle build scan 도입
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-push.yml
  build.gradle.kts
  piikii-bootstrap/src/main/kotlin/com/piikii/bootstrap/secret/SecretProcessor.kt
  settings.gradle.kts
Labels: module-bootstrap, chore

#136 Replace deprecated action
  .github/workflows/ci-pull-request.yml
  .github/workflows/ci-push.yml
Labels: chore

#138 chore: CI 빌드 로깅 제거
  .github/workflows/ci-pull-request.yml
Labels: chore

#137 feature: 코스 장소 수정 API
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/CourseService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/CourseUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/PlacePort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/CourseApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/CourseApiDocs.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/PlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/PlaceRepository.kt
Labels: feature, module-input-adapter, module-domain, module-output-storage-services

#139 fix: 스케줄 생성 시 LongTypeId로 인한 버그 수정
  piikii-application/src/main/kotlin/com/piikii/application/domain/schedule/ScheduleService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/ScheduleRequest.kt
Labels: fix, module-domain

#140 hotfix: valid annotation 추가
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/PlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/web/advice/ExceptionAdvice.kt
Labels: fix, module-input-adapter

#141 fix: Resolve Id Parsing Error In OriginPlace
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
Labels: fix, module-domain

#142 fix: Jpa ID Type Error
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/VoteRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/course/CourseServiceTest.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/PlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/RoomAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/ScheduleAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/VoteAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/common/BaseEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/OriginPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/ScheduleEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/VoteEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/OriginPlaceRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/PlaceRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/RoomRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/ScheduleRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/UserRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/VoteRepository.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
Labels: fix, module-domain, module-output-web, module-output-storage-services

#144 fix: CourseServiceTest 크기 축소
  piikii-application/src/test/kotlin/com/piikii/application/domain/course/CourseServiceTest.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/PlaceFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/RoomFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/ScheduleFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/VoteFixture.kt
Labels: fix, module-domain

#143 test: VoteAdapter 투표 수 계산 로직 테스트
  piikii-application/src/test/kotlin/com/piikii/application/domain/course/CourseServiceTest.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/PlaceFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/RoomFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/ScheduleFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/VoteFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
  piikii-output-persistence/postgresql/src/test/kotlin/com/piikii/output/persistence/postgresql/adapter/VoteAdapterTest.kt
Labels: module-domain, module-output-storage-services

#147 hotfix: 장소 등록 api 이슈 대응
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/MultipartJackson2HttpMessageConverter.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/PlaceApi.kt
Labels: hotfix, fix, module-input-adapter

#151 hotfix: 스케줄에 해당하는 장소 삭제 로직 추가
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/ScheduleAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/PlaceRepository.kt
Labels: fix, module-output-storage-services

#152 refact: 투표 조회 시 반대/총 투표 수 필드 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/vote/VoteService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/VoteResponse.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
Labels: refactor, module-domain

#154 docs: Swagger HTTPS Domain 적용
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/OpenApiConfiguration.kt
Labels: module-input-adapter

#155 feature: 유저가 투표한 장소 조회 api
  piikii-application/src/main/kotlin/com/piikii/application/domain/vote/VoteService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/VoteUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/VoteResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/VotePort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/VoteApiDocs.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/VoteAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/VoteRepository.kt
Labels: feature, module-input-adapter, module-domain, module-output-storage-services

#157 feat: 영업시간 필드 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceAutoCompleteResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/PlaceFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/OriginPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/resources/ddl/DDL.sql
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
Labels: feature, module-domain, module-output-web, module-output-storage-services

#159 refactor: apply Port/Adapter naming
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/CourseService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/web/NavigationPort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/web/OriginPlaceAutoCompletePort.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/course/CourseServiceTest.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceAutoCompleteAdapter.kt
  piikii-output-web/avocado/src/test/kotlin/com/piikii/output/web/avocado/AvocadoPlaceAutoCompleteAdapterTest.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceAutoCompleteAdapter.kt
  piikii-output-web/lemon/src/test/kotlin/com/piikii/output/web/lemon/LemonPlaceAutoCompleteClientTest.kt
  piikii-output-web/tmap/src/main/kotlin/com/piikii/output/web/tmap/adapter/TmapNavigationAdapter.kt
  piikii-output-web/tmap/src/test/kotlin/com/piikii/output/web/tmap/TmapNavigationAdapterTest.kt
Labels: refactor, module-domain, module-output-web

#160 feature: 비밀번호 검증 api
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/RoomUseCase.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/OpenApiConfiguration.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/RoomApiDocs.kt
Labels: fix, feature, module-input-adapter, module-domain, module-output-storage-services

#162 fix: 급하다 급해 장소 추가 얼른 수정해볼게요
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/PlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
Labels: fix, module-domain

#164 fix: return schedule id
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
Labels: fix, module-domain

#163 feat: OpenTelemetry Tracing 기능 활성화
  docker/monitoring/otel/otelcol-config.yml
  piikii-bootstrap/src/main/resources/application-prod.yml
Labels: feature, module-bootstrap

#165 hotfix: 스케줄 id 0으로 저장되는 이슈 대응
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/PlaceAdapter.kt
Labels: fix, module-output-storage-services

#169 fix: Place 생성 시, Origin 받도록 수정
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/PlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/PlacePort.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/PlaceAdapter.kt
Labels: fix, module-domain, module-output-storage-services

#171 feat: 장소 이미지 추가 시, 자동완성 된 장소 이미지도 받을 수 있도록 기능 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/image/ImageFolderType.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/image/ImageUploadService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/PlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/ImageUploadUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/PlaceUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/objectstorage/BucketFolderType.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/objectstorage/ObjectStoragePort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/PlaceApi.kt
  piikii-output-storage/ncp/src/main/kotlin/com/piikii/output/storage/ncp/adapter/NcpObjectStorageAdapter.kt
Labels: feature, module-input-adapter, module-domain, module-output-storage-services

#170 fix: star grade to Double nullable
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceAutoCompleteResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/VoteResponse.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/PlaceFixture.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/OriginPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
Labels: fix, module-domain, module-output-web, module-output-storage-services

#172 fix: 파일 하나당 100MB 크기를 가질 수 있게됐습니다.
  piikii-bootstrap/src/main/resources/application.yml
Labels: fix, module-bootstrap

#183 fix: 장소 수정 API 이슈 대응
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/PlaceApi.kt
Labels: fix, module-input-adapter, module-domain

#185 add: 장소 카테고리 값 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/fixture/PlaceFixture.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
Labels: module-domain, module-output-storage-services

#186 hotfix: ScheduleType 요청값 삭제
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
Labels: module-domain

#168 feat: 장소 거리 데이터 cache 적용
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/CoursePlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/CourseService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/Distance.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/CourseResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/web/NavigationPort.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/course/CourseServiceTest.kt
  piikii-bootstrap/src/main/resources/application.yml
  piikii-bootstrap/src/test/resources/application.yml
  piikii-output-cache/redis/src/main/kotlin/com/piikii/output/redis/config/RedisConfig.kt
  piikii-output-cache/redis/src/main/resources/cache-config/application-local.yml
  piikii-output-cache/redis/src/main/resources/cache-config/application-prod.yml
  piikii-output-cache/redis/src/main/resources/cache-config/application.yml
  piikii-output-web/tmap/src/main/kotlin/com/piikii/output/web/tmap/adapter/TmapNavigationAdapter.kt
  piikii-output-web/tmap/src/test/kotlin/com/piikii/output/web/tmap/TmapNavigationAdapterTest.kt
Labels: feature, module-bootstrap, module-domain, module-output-web, module-output-storage-services
