Repository mash-up-kr/piikii_Spring, pull requests merged in 2024-07, with the labels that each got.

#76 feat: 투표 시, 투표하는 Place(장소) 데이터가 올바른지 검증
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/PlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/room/RoomService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/vote/VoteService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/PlaceUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/RoomUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/RoomResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/PlacePort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/RoomPort.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-common/src/main/kotlin/com/piikii/common/exception/PiikiiException.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/PlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/PlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/RoomAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
Labels: feature, module-input-adapter, module-output-adapter, module-domain, module-common

#77 feat: Object Storage 업로드 기능 추가
  .github/workflows/config/auto-assign-label-config.yml
  piikii-application/src/main/kotlin/com/piikii/application/port/output/objectstorage/ObjectStoragePort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/objectstorage/UploadType.kt
  piikii-bootstrap/build.gradle.kts
  piikii-bootstrap/src/main/kotlin/com/piikii/bootstrap/PiikiiBootstrapApplication.kt
  piikii-bootstrap/src/main/resources/application.yml
  piikii-input-http/src/main/resources/http-config/application.yml
  piikii-output-storage/build.gradle.kts
  piikii-output-storage/ncp/src/main/kotlin/com/piikii/output/storage/ncp/adapter/NcpObjectStorageAdapter.kt
  piikii-output-storage/ncp/src/main/kotlin/com/piikii/output/storage/ncp/config/NcpProperties.kt
  piikii-output-storage/ncp/src/main/resources/storage-config/application.yml
  settings.gradle.kts
Labels: feature, module-bootstrap, module-input-adapter, module-output-adapter, module-domain

#84 feat/refact: Place 도메인 누락된 필드 추가 및 Object Storage 업로드로 인한 구조 변경 등...
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/PlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/schedule/Schedule.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/PlaceUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/CategoryRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/ScheduleResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/objectstorage/BucketFolderType.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/objectstorage/ObjectStoragePort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/PlacePort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/SchedulePort.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
  piikii-input-http/build.gradle.kts
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/InputHttpAsyncConfig.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/WebMvcConfig.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/PlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/PlaceDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/web/filter/ServletWrappingFilter.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/web/interceptor/LoggingInterceptor.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/PlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/ScheduleAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/ScheduleEntity.kt
  piikii-output-storage/build.gradle.kts
  piikii-output-storage/ncp/src/main/kotlin/com/piikii/output/storage/ncp/adapter/NcpObjectStorageAdapter.kt
  piikii-output-storage/ncp/src/main/kotlin/com/piikii/output/storage/ncp/config/Consts.kt
  piikii-output-storage/ncp/src/main/kotlin/com/piikii/output/storage/ncp/config/NcpProperties.kt
  piikii-output-storage/ncp/src/main/kotlin/com/piikii/output/storage/ncp/config/OutputStorageAsyncConfig.kt
  piikii-output-storage/ncp/src/main/kotlin/com/piikii/output/storage/ncp/config/StorageConfig.kt
  piikii-output-storage/ncp/src/main/resources/storage-config/application.yml
Labels: refactor, module-input-adapter, module-output-adapter, module-domain

#89 feat: 방 정보 자동 생성 어댑터 구현 (LEMON)
  piikii-application/src/main/kotlin/com/piikii/application/domain/generic/ThumbnailLinks.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/web/UrlClient.kt
  piikii-bootstrap/build.gradle.kts
  piikii-bootstrap/src/main/kotlin/com/piikii/bootstrap/PiikiiBootstrapApplication.kt
  piikii-bootstrap/src/main/resources/application.yml
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-output-web/build.gradle.kts
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/UrlClientResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonUrlClient.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/config/LemonProperties.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/util/SaltAdditive.kt
  piikii-output-web/lemon/src/main/resources/lemon-config/application.yml
  settings.gradle.kts
Labels: feature, module-bootstrap, module-domain, module-common

#90 feat: Vote 결과 조회
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/Place.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/vote/Vote.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/vote/VoteResult.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/vote/VoteService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/VoteUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/VoteRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/VoteResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/VotePort.kt
  piikii-application/src/test/kotlin/com/piikii/application/domain/vote/VoteServiceTest.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/VoteApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/dto/request/VoteRequest.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/dto/response/VoteStatusResponse.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/VoteAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/VoteEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/VoteRepository.kt
Labels: feature, module-input-adapter, module-output-adapter, module-domain

#92 fix: duplicated path variable endpoint
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
Labels: fix, module-input-adapter

#91 feat: 방 스케줄 등록 구현
  piikii-application/src/main/kotlin/com/piikii/application/domain/schedule/Schedule.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/schedule/ScheduleService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/ScheduleUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/ScheduleRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/ScheduleResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/SchedulePort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/ScheduleApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/ScheduleApiDocs.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/ScheduleAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/ScheduleEntity.kt
Labels: feature, module-input-adapter, module-output-adapter, module-domain

#96 feat: AVOCADO AutoCompleteClient
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/SourcePlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/web/PlaceAutoCompleteClient.kt
  piikii-bootstrap/src/main/kotlin/com/piikii/bootstrap/PiikiiBootstrapApplication.kt
  piikii-bootstrap/src/main/resources/application.yml
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/OriginPlaceEntity.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceAutoCompleteClient.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceInfoResponse.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/config/AvocadoConfig.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/parser/AvocadoPlaceIdParser.kt
  piikii-output-web/avocado/src/main/resources/avocado-config/application.yml
  piikii-output-web/avocado/src/test/kotlin/com/piikii/output/web/avocado/TestConfiguration.kt
  piikii-output-web/avocado/src/test/kotlin/com/piikii/output/web/avocado/parser/AvocadoPlaceIdParserTest.kt
  piikii-output-web/avocado/src/test/resources/application-test.yml
  piikii-output-web/build.gradle.kts
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceAutoCompleteClient.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/config/LemonConfig.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/salt/LemonSaltAdditive.kt
Labels: feature, module-bootstrap, module-output-adapter, module-domain, module-common

#98 fix: Source to Origin
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/OriginPlaceUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/OriginPlacePort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/OriginPlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/SourcePlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/OriginPlaceApiDocs.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/OriginPlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/OriginPlaceRepository.kt
Labels: fix, module-input-adapter, module-output-adapter, module-domain

#99 fix: rename source to origin
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/OriginPlaceUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/OriginPlacePort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/OriginPlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/SourcePlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/OriginPlaceApiDocs.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/OriginPlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/OriginPlaceRepository.kt
Labels: fix, module-input-adapter, module-output-adapter, module-domain

#94 docs: 스웨거, 밸리데이션 상세 애노테이션 추가
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/RoomRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/ScheduleRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/VoteDeadlineSetRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/VoteRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/RoomResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/ScheduleResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/VoteResponse.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/CourseApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/ScheduleApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/CourseApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/PlaceDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/RoomApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/ScheduleApiDocs.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/VoteApiDocs.kt
Labels: module-input-adapter, module-domain

#100 docs: Add DDL, rename column
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/CourseEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/VoteEntity.kt
  piikii-output-persistence/postgresql/src/main/resources/ddl/DDL.sql
Labels: docs, module-output-adapter

#101 feat: Origin Place 컬럼 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlaceService.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/OriginPlaceEntity.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
Labels: feature, module-output-adapter, module-domain

#105 hotfix: Validation Annotation Sync
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/ScheduleApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
Labels: fix, module-input-adapter

#108 chore: label auto assign 항목을 세분화합니다.
  .github/workflows/config/auto-assign-label-config.yml
Labels: chore

#107 fix: Place 응답 객체에 name 필드 추가
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
Labels: fix, module-domain

#111 feat: 장소입력 자동화 - 모바일 주소 패턴 지원
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/OriginPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/config/AvocadoConfig.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/parser/AvocadoOriginMapIdParser.kt
  piikii-output-web/avocado/src/main/resources/avocado-config/application.yml
  piikii-output-web/avocado/src/test/kotlin/com/piikii/output/web/avocado/AvocadoPlaceAutoCompleteClientTest.kt
  piikii-output-web/avocado/src/test/resources/application-test.yml
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/config/LemonConfig.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/parser/LemonOriginMapIdParser.kt
  piikii-output-web/lemon/src/main/resources/lemon-config/application.yml
  piikii-output-web/lemon/src/test/resources/application-test.yml
Labels: feature, module-output-web, module-output-storage-services

#110 feat: 장소 입력자동화 정보 DB 저장
  piikii-application/src/main/kotlin/com/piikii/application/domain/generic/Origin.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/OriginPlacePort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/web/OriginPlaceAutoCompleteClient.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/OriginPlaceAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/OriginPlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/OriginPlaceRepository.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceAutoCompleteClient.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceInfoResponse.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/config/AvocadoConfig.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/parser/AvocadoOriginMapIdParser.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/parser/AvocadoPlaceIdParser.kt
  piikii-output-web/avocado/src/main/resources/avocado-config/application.yml
  piikii-output-web/avocado/src/test/kotlin/com/piikii/output/web/avocado/AvocadoPlaceAutoCompleteClientTest.kt
  piikii-output-web/avocado/src/test/resources/application-test.yml
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceAutoCompleteClient.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/config/LemonConfig.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/parser/LemonOriginMapIdParser.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/parser/LemonPlaceIdParser.kt
  piikii-output-web/lemon/src/main/resources/lemon-config/application.yml
  piikii-output-web/lemon/src/test/kotlin/com/piikii/output/web/lemon/LemonPlaceAutoCompleteClientTest.kt
  piikii-output-web/lemon/src/test/resources/application-test.yml
Labels: feature, module-domain, module-output-web, module-output-storage-services

#112 fix: refactor entity
  piikii-application/src/main/kotlin/com/piikii/application/domain/course/Course.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/CourseAdapter.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/CourseEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/entity/PlaceEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/persistence/repository/CourseRepository.kt
Labels: fix, module-domain, module-output-storage-services

#116 chore: Allow CORS All
  piikii-input-http/src/main/kotlin/com/piikii/input/http/web/config/WebConfig.kt
Labels: module-input-adapter, chore

#117 fix: CORS credentials
  piikii-input-http/src/main/kotlin/com/piikii/input/http/web/config/WebConfig.kt
Labels: fix, module-input-adapter

#118 fix: Fix Some Errors (field name, api prefix)
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/RoomRequest.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/ScheduleResponse.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/PlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/PlaceDocs.kt
Labels: fix, module-input-adapter, module-domain

#119 fix: 모든 장소 조회 시, Schedule ID/Name 반환
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/PlaceService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/PlaceResponse.kt
Labels: fix, module-domain

#120 chore: add logging in build
  .github/workflows/ci-pull-request.yml
Labels: chore
