Repository mash-up-kr/piikii_Spring, pull requests merged in 2024-05, with the labels that each got.

#2 feat : 아키텍처 초기화
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-requset.yml
  .github/PR_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/auto-assign-author-to-assigness.yml
  .github/workflows/labeler.yml
  build.gradle.kts
  docs/architecture/DependencyGraph.png
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  piikii-application/build.gradle.kts
  piikii-application/src/main/kotlin/mashup/mmz/application/domain/model/User.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/domain/service/UserRestUsecase.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/port/input/UserUsecase.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/port/output/eventbroker/Event.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/port/output/eventbroker/UserConsumer.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/port/output/eventbroker/UserCreatedEvent.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/port/output/eventbroker/UserProducer.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/port/output/eventbroker/UserUpdatedEvent.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/port/output/persistence/UserRepository.kt
  piikii-bootstrap/build.gradle.kts
  piikii-bootstrap/gradle/wrapper/gradle-wrapper.jar
  piikii-bootstrap/gradle/wrapper/gradle-wrapper.properties
  piikii-bootstrap/src/main/kotlin/mashup/mmz/bootstrap/BootstrapApplication.kt
  piikii-bootstrap/src/main/resources/application.properties
  piikii-bootstrap/src/test/kotlin/mashup/mmz/bootstrap/BootstrapApplicationTests.kt
  piikii-common/README.md
  piikii-common/build.gradle.kts
  piikii-common/exception/src/main/kotlin/mashup/mmz/common/exception/ApiBizException.kt
  piikii-common/exception/src/main/kotlin/mashup/mmz/common/exception/BaseException.kt
  piikii-input-http/README.md
  piikii-input-http/build.gradle.kts
  piikii-input-http/src/main/kotlin/mashup/mmz/input/http/UserApi.kt
  piikii-output-cache/build.gradle.kts
  piikii-output-cache/caffeine/src/main/kotlin/Main.kt
  piikii-output-cache/redis/src/main/kotlin/Main.kt
  piikii-output-eventbroker/build.gradle.kts
  piikii-output-eventbroker/kafka/src/main/kotlin/mashup/mmz/output/eventbroker/kafka/KafkaConfig.kt
  piikii-output-eventbroker/kafka/src/main/kotlin/mashup/mmz/output/eventbroker/kafka/user/UserKafkaConsumer.kt
  piikii-output-eventbroker/kafka/src/main/kotlin/mashup/mmz/output/eventbroker/kafka/user/UserKafkaProducer.kt
  piikii-output-persistence/build.gradle.kts
  piikii-output-persistence/mongodb/src/main/kotlin/mashup/mmz/output/persistence/mongodb/MongoConfig.kt
  piikii-output-persistence/mysql/src/main/kotlin/mashup/mmz/output/persistence/mysql/BaseEntity.kt
  piikii-output-persistence/mysql/src/main/kotlin/mashup/mmz/output/persistence/mysql/MySqlConfig.kt
  piikii-output-persistence/mysql/src/main/kotlin/mashup/mmz/output/persistence/mysql/user/UserEntity.kt
  piikii-output-persistence/mysql/src/main/kotlin/mashup/mmz/output/persistence/mysql/user/UserJpaRepository.kt
  piikii-output-persistence/mysql/src/main/kotlin/mashup/mmz/output/persistence/mysql/user/UserRestRepository.kt
  settings.gradle.kts
Labels: 아키텍처 경진대회

#5 refactor : 아키텍처 기초 정리
  .gitignore
  build.gradle.kts
  piikii-application/build.gradle.kts
  piikii-application/src/main/kotlin/mashup/mmz/application/domain/service/UserRestUsecase.kt
  piikii-application/src/main/kotlin/mashup/mmz/application/port/output/persistence/UserRepository.kt
  piikii-bootstrap/build.gradle.kts
  piikii-bootstrap/src/main/kotlin/mashup/mmz/bootstrap/BootstrapApplication.kt
  piikii-bootstrap/src/main/resources/application-local.yml
  piikii-bootstrap/src/main/resources/application-prod.yml
  piikii-bootstrap/src/main/resources/application.properties
  piikii-bootstrap/src/main/resources/application.yml
  piikii-input-http/src/main/kotlin/mashup/mmz/input/http/UserApi.kt
  piikii-output-cache/build.gradle.kts
  piikii-output-cache/redis/src/main/kotlin/Main.kt
  piikii-output-cache/redis/src/main/kotlin/mashup/mmz/output/redis/config/RedisConfig.kt
  piikii-output-cache/redis/src/main/resources/cache-config/application-local.yml
  piikii-output-cache/redis/src/main/resources/cache-config/application-prod.yml
  piikii-output-eventbroker/kafka/src/main/kotlin/mashup/mmz/output/eventbroker/kafka/KafkaConfig.kt
  piikii-output-eventbroker/kafka/src/main/resources/broker-config/application-local.yml
  piikii-output-eventbroker/kafka/src/main/resources/broker-config/application-prod.yml
  piikii-output-persistence/build.gradle.kts
  piikii-output-persistence/mongodb/src/main/kotlin/mashup/mmz/output/persistence/mongodb/MongoConfig.kt
  piikii-output-persistence/mysql/src/main/kotlin/mashup/mmz/output/persistence/mysql/MySqlConfig.kt
  piikii-output-persistence/mysql/src/main/kotlin/mashup/mmz/output/persistence/mysql/user/UserEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/mashup/mmz/output/persistence/postgresql/BaseEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/mashup/mmz/output/persistence/postgresql/PostgreSQLConfig.kt
  piikii-output-persistence/postgresql/src/main/kotlin/mashup/mmz/output/persistence/postgresql/user/UserEntity.kt
  piikii-output-persistence/postgresql/src/main/kotlin/mashup/mmz/output/persistence/postgresql/user/UserJpaRepository.kt
  piikii-output-persistence/postgresql/src/main/kotlin/mashup/mmz/output/persistence/postgresql/user/UserRestRepository.kt
  piikii-output-persistence/postgresql/src/main/resources/database-config/application-local.yml
  piikii-output-persistence/postgresql/src/main/resources/database-config/application-prod.yml
  settings.gradle.kts
Labels: refactor

#7 refactor: dependency fix
  piikii-application/src/main/kotlin/com/piikii/application/domain/model/Event.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/service/UserRestUsecase.kt
  piikii-application/src/main/kotlin/com/piikii/application/domain/service/UserService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/UserUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/eventbroker/Event.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/eventbroker/UserConsumerPort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/eventbroker/UserCreatedEvent.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/eventbroker/UserProducerPort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/eventbroker/UserUpdatedEvent.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/UserPort.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/UserRepository.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/UserApi.kt
  piikii-output-eventbroker/kafka/src/main/kotlin/com/piikii/output/eventbroker/kafka/user/UserKafkaConsumer.kt
  piikii-output-eventbroker/kafka/src/main/kotlin/com/piikii/output/eventbroker/kafka/user/UserKafkaProducer.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/user/UserRepository.kt
Labels: refactor, fix
