Repository mash-up-kr/piikii_Spring, pull requests merged in 2024-09, with the labels that each got.

#188 fix: CI 실패 원인 코드 수정
  piikii-output-web/tmap/src/test/kotlin/com/piikii/output/web/tmap/TmapNavigationAdapterTest.kt
Labels: fix, module-output-web

#190 add: 스케줄 등록 API 응답값 추가
  piikii-application/src/main/kotlin/com/piikii/application/domain/schedule/ScheduleService.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/ScheduleUseCase.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/response/ScheduleResponse.kt
  piikii-application/src/main/kotlin/com/piikii/application/port/output/persistence/SchedulePort.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/ScheduleApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/ScheduleApiDocs.kt
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/ScheduleAdapter.kt
Labels: fix, module-input-adapter, module-domain, module-output-storage-services

#192 fix: 장소 수정 API 이미지가 삭제되지 않는 이슈 대응
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/PlaceService.kt
Labels: fix, module-domain

#181 fix: URL 파싱 정규식 추가, URL 검증 로직 추가
  piikii-application/src/main/kotlin/com/piikii/application/port/input/dto/request/PlaceAutoCompleteUrlRequest.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceAutoCompleteAdapter.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/config/LemonConfig.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/parser/LemonOriginMapIdParser.kt
  piikii-output-web/lemon/src/main/resources/lemon-config/application.yml
Labels: fix, module-domain, module-output-web

#193 feat: manage otel activate by env
  piikii-bootstrap/src/main/resources/application-prod.yml
Labels: feature, module-bootstrap

#197 fix: added avocado request referer header
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/adapter/AvocadoPlaceAutoCompleteAdapter.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/config/AvocadoConfig.kt
Labels: fix, module-output-web

#200 fix: Lemon 좌표 자동완성 버그 수정
  piikii-application/src/main/kotlin/com/piikii/application/domain/place/OriginPlace.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceAutoCompleteAdapter.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/adapter/LemonPlaceInfoResponse.kt
  piikii-output-web/lemon/src/main/kotlin/com/piikii/output/web/lemon/config/LemonConfig.kt
  piikii-output-web/lemon/src/main/resources/lemon-config/application.yml
Labels: fix, module-domain, module-output-web

#201 feat: protect duplicated request
  gradle/libs.versions.toml
  piikii-common/src/main/kotlin/com/piikii/common/exception/ExceptionCode.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/aspect/PreventDuplicateAspect.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/config/WebConfig.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/PlaceApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/RoomApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/VoteApi.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/advice/ExceptionAdvice.kt
  piikii-input-http/src/main/kotlin/com/piikii/input/http/controller/docs/RoomApiDocs.kt
Labels: feature, module-input-adapter, module-common

#203 fix: Avocado ShareURL Bug
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/parser/AvocadoOriginMapIdParser.kt
Labels: fix, module-output-web

#204 fix: originplace 중복 상황에 대한 핸들링
  piikii-output-persistence/postgresql/src/main/kotlin/com/piikii/output/persistence/postgresql/adapter/OriginPlaceAdapter.kt
  piikii-output-web/avocado/src/main/kotlin/com/piikii/output/web/avocado/parser/AvocadoOriginMapIdParser.kt
Labels: fix, module-output-web, module-output-storage-services
